
body {background-color: darkolivegreen;
    color:rgb(238, 234, 154);
}
h1 {font-size: 80px;
     text-align: center;
    margin-bottom: 10px;}
.list{font-size:20px;
  padding: 40px;}

a{text-decoration-line: none;
color:rgb(238, 234, 154);
border-width:50px;}

#menu {text-align: center;
font-weight: bold;}

fieldset {float : right;}
#todolist{border-style: solid;
border-color: rgb(238, 234, 154);
margin-top: 100px;
}
#goal {font-size: 25px;
text-decoration-line: underline;}
h2{margin-inline-start: 30px;
margin-top: 10px;
margin-bottom: 10px;
