*{font-family:Arial, Helvetica, sans-serif;
font-weight: bold;}
body {background-color: darkolivegreen;
  
  text-align: center;
    color:rgb(238, 234, 154);
}
h1 {font-size: 80px;
     text-align: center;
    display: inline-block;
    border-width: 10px;
    border-style: double;
    border-top: none;
    border-left: none;
    border-right: none;
      }

.list{font-size:20px;
  padding: 40px;}

a{text-decoration-line: none;
  color:rgb(238, 234, 154);
border-width:50px;}
a:hover{color: darkslategray;}

#menu {text-align: center;
  margin-bottom: 30px;
}

#goal {font-size: 25px;
  text-decoration-line: underline;}

#todolist{font-size: 40px;
text-decoration-line: underline;
text-align: center;
margin-top: 30px;}
 
.container{text-align: center;
 width:420px;
 height: 200px;
  padding:auto;
  word-wrap: break-word;
  overflow: auto;
 
}
#textInput{inline-size: 300px;
font-size: 25px;
caret-color: darkolivegreen;
}

#listbox{

  text-align: center;
  margin:auto;
border-style: dotted;
width: 400px;
height: 400px;
}

#restore{
  display: inline-block;
  width: 50px;
  height: 25px;
background-color: rgb(238, 234, 154);
border-color: darkgreen;
border-radius: 20px;
color:darkolivegreen;
}

#addButton{
  background-color: rgb(238, 234, 154);
border-color: darkgreen;
border-radius: 5px;
font-size: 20px;
color:darkolivegreen;
}





a {animation-name: move;}

@keyframes move{
  from { left : 0;}
  to { right: 100px;}
}